.card {
    -fx-background-color: #434343;
    -fx-effect: dropshadow(three-pass-box, #252525, 10, 0, 0, 0);
    -fx-pref-width: 280pt;
    -fx-border-radius: 0;
    -fx-background-raius: 0;
    -fx-border-color: transparent;
}

.card.card--active {
    -fx-border-color: #20AAD6;
}

.card.card--create {
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: #6FDA80;
}

.card.card--delete {
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: #DA6F6F;
}

.card.card--update {
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: #DAC26F;
}

.card__header {
    -fx-padding: 10 10 10 10;
}

.card__header-title {
    -fx-font-size: 14pt;
    -fx-fill: #f4f4f4;
    -fx-text-fill: #f4f4f4;
}

.card__footer {
    -fx-padding: 10 10 10 10;
}

.card {
    -fx-background-color: #434343;
    -fx-effect: dropshadow(three-pass-box, #252525, 10, 0, 0, 0);
    -fx-pref-width: 300;
}