.table-view {
    -fx-background-color: #434343;
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}
.table-view .column-header-background {
    -fx-background-color: #434343;
    -fx-border-style: solid;
    -fx-border-color: #606060;
    -fx-border-width: 0px 0px 1px 0px;
}
.table-view .column-header .label {
    -fx-font-weight: normal;
}
.table-view .column-header .label, .table-view .cell {
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
    -fx-text-fill: #f4f4f4;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-border-width: 1px 1px 1px 2px;
}
.table-view .column-header.column--align-right .label, .table-view .cell.column--align-right {
    -fx-alignment: CENTER_RIGHT;
}
.table-view .cell:selected {
    -fx-border-color: #20AAD6;
}

.table-view .cell.row--create {
    -fx-border-color: transparent transparent transparent #6FDA80;
}
.table-view .cell.row--create:selected {
    -fx-border-color: #20AAD6 #20AAD6 #20AAD6 #6FDA80;
}

.table-view .cell.row--update {
    -fx-border-color: transparent transparent transparent #DAC26F;
}
.table-view .cell.row--update:selected {
    -fx-border-color: #20AAD6 #20AAD6 #20AAD6 #DAC26F;
}

.table-view .cell.row--delete {
    -fx-border-color: transparent transparent transparent #DA6F6F;
}
.table-view .cell.row--delete:selected {
    -fx-border-color: #20AAD6 #20AAD6 #20AAD6 #DA6F6F;
}