.title {
    font-size: 24px;
    -fx-font-size: 24px;
    fill: #f4f4f4;
    -fx-fill: #f4f4f4;
    -fx-text-fill: #f4f4f4;
}

.label--update {
    fill: #DAC26F;
    -fx-fill: #DAC26F;
    -fx-text-fill: #DAC26F;
}

.label, .text--white {
    fill: #f4f4f4;
    -fx-fill: #f4f4f4;
    -fx-text-fill: #f4f4f4;
}

.text--primary {
    fill: #20AAD6;
    -fx-fill: #20AAD6;
    -fx-text-fill: #20AAD6;
}

.list-item {
    padding: 5px 20px 5px 20px;
    -fx-padding: 5px 20px 5px 20px;
}