.toast {
    -fx-background-color: #434343;
    background-color: #434343;
    -fx-effect: dropshadow(three-pass-box, #252525, 10, 0, 0, 0);
    -fx-pref-width: 280pt;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-background-raius: 0;
    -fx-border-color: transparent;
    border-color: transparent;
    padding: 5 10 5 10;
    -fx-padding: 5 10 5 10;
}

.toast__message {
    font-size: 11pt;
    -fx-font-size: 11pt;
    fill: #f4f4f4;
    -fx-fill: #f4f4f4;
    -fx-text-fill: #f4f4f4;
}